/* line 1, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/main.scss */
body {
  width: 980px;
  margin: 0;
}
/* line 10, ../sass/main.scss */
body .container {
  padding: 10px;
  width: 800px;
}
/* line 16, ../sass/main.scss */
body .container .input .heading {
  margin-bottom: 5px;
  font: bold 40px/42px arial;
}
/* line 21, ../sass/main.scss */
body .container .input .description {
  margin-bottom: 5px;
  font: normal 14px/16px arial;
}
/* line 27, ../sass/main.scss */
body .container .output {
  margin-top: 20px;
}
/* line 29, ../sass/main.scss */
body .container .output .heading {
  font: normal 22px/24px arial;
}
/* line 33, ../sass/main.scss */
body .container .output .items-ul .item {
  list-style-position: inside;
  font: normal 14px/16px arial;
}
/* line 36, ../sass/main.scss */
body .container .output .items-ul .item .remove-button {
  font: bold 14px/16px arial;
  margin-left: 5px;
  cursor: pointer;
  color: red;
}
