/* line 1, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/main.scss */
body {
  width: 980px;
  margin: 0;
}
/* line 10, ../sass/main.scss */
body .container {
  padding: 10px;
  width: 530px;
}
/* line 16, ../sass/main.scss */
body .container .input .heading {
  margin-bottom: 5px;
  font: bold 40px/42px arial;
}
/* line 21, ../sass/main.scss */
body .container .input .description {
  margin-bottom: 5px;
  font: normal 14px/16px arial;
}
/* line 26, ../sass/main.scss */
body .container .input #add-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 33, ../sass/main.scss */
body .container .output {
  margin-top: 20px;
}
/* line 35, ../sass/main.scss */
body .container .output .heading {
  font: normal 22px/24px arial;
}
/* line 38, ../sass/main.scss */
body .container .output .items-ul {
  list-style: none;
}
/* line 40, ../sass/main.scss */
body .container .output .items-ul .item {
  font: normal 14px/16px arial;
}
/* line 44, ../sass/main.scss */
body .container .output .items-ul .item .content {
  display: block;
  float: left;
  width: 500px;
  -webkit-user-select: text;
}
/* line 50, ../sass/main.scss */
body .container .output .items-ul .item .content:hover, body .container .output .items-ul .item .content:focus {
  background: #eee;
}
/* line 56, ../sass/main.scss */
body .container .output .items-ul .item .remove-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
