* {
  margin: 0;
  padding: 0;
}

body {
  width: 550px;
  margin: 0 auto;

  .container {
    margin: 10px 0;
    
    .input {

      .heading {
        margin-bottom: 5px;
        font: bold 40px/42px arial;
      }

      .description {
        margin-bottom: 5px;
        font: normal 14px/16px arial;
      }
  
      #user-input {
        float: left;
        width: 486px;
        padding: 0 5px;

        font: normal 30px arial;
      }

      #add-button {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        font: bold 42px/0px arial;
        cursor: pointer;
        background: #999;
        color: white;

        &:active {
          background: #666;
        }
      }
    } // input

    .output {
      margin-top: 20px;
      .heading {
        font: normal 22px/24px arial;
        margin-bottom: 10px;
      }
      .items-ul {
        list-style: none;
        .item {
          height: 19px;
          margin: 0 0 0 0;
          padding: 5px 0 5px 10px;
          border-bottom: 1px dotted #eee;

          &:hover {
              background: #eee;
          }

          input[type=checkbox] {
            float: left;
            width: 15px; // altura + largura
            height: 19px; // posisionamento y
          }

          .content {
            display: block;
            float: left;
            width: 482px;
            margin: 0 5px;
            font: normal 14px/19px arial;
            -webkit-user-select: text;

            &:hover {
              cursor: text;
            }

            &.done {
              color: #999;
              text-decoration: line-through;
            }
          }

          .remove-button {
            width: 30px;
            float: right;
            font: bold 15px/19px arial;
            cursor: pointer;
            background: transparent;
            color: #999;
            border: none;


            &:hover {
              color: red;
            }
          }
        } // item
      } // item-ul
    } // output
  } // container
} // body