* {
  margin: 0;
  padding: 0;
}

body {
  width: 980px;
  margin: 0;

  .container {
    padding: 10px;
    width: 530px;
    
    .input{

      .heading {
        margin-bottom: 5px;
        font: bold 40px/42px arial;
      }

      .description {
        margin-bottom: 5px;
        font: normal 14px/16px arial;
      }

      #add-button {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    } // input

    .output {
      margin-top: 20px;
      .heading {
        font: normal 22px/24px arial;
      }
      .items-ul {
        list-style: none;
        .item {
        // width: 190px;
        font: normal 14px/16px arial;

          .content {
            display: block;
            float: left;
            width: 500px;
            -webkit-user-select: text;
            
            &:hover, &:focus {
              background: #eee;
            }

          }

          .remove-button {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        } // item
      } // item-ul
    } // output
  } // container
} // body