* {
  margin: 0;
  padding: 0;
}

body {
  width: 980px;
  margin: 0;
}

body .container {
  padding: 10px;
  width: 800px;
}

body .container .input .heading {
  margin-bottom: 5px;
  font: bold 40px/42px arial;
}

body .container .input .description {
  margin-bottom: 5px;
  font: normal 14px/16px arial;
}

body .container .output {
  margin-top: 20px;
}

body .container .output .heading {
  font: normal 22px/24px arial;
}

body .container .output .items-ul .item {
  list-style-position: inside;
  font: normal 14px/16px arial;
}

body .container .output .items-ul .item .remove-button {
  font: bold 14px/16px arial;
  margin-left: 5px;
  cursor: pointer;
  color: red;
}
